@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #08080f;
}

::-webkit-scrollbar-thumb {
  background: #272738;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}

body {
  background-color: #08080f;
  color: #f3f4f6;
  overflow-x: hidden;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
